footer {
    padding-top: 120px;
    padding-bottom: 40px;
    padding-right: 25px;
    padding-left: 25px;

    .footer {
        padding-top: 60px;
        padding-bottom: 40px;
        border-top: 2px solid rgb(201, 201, 201);
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .section {
            font-size: .9rem;

            .title {
                margin-bottom: 35px;
                font-weight: 600;
            }

            a {
                text-transform: capitalize;
                display: block;
                opacity: .6;
                margin-bottom: 12px;
            }
        }
    }

    .footer-bottom {
        font-size: .78rem;
        opacity: .8;

        span {
            height: 10px;
        }
    }
}