.home {
    .hero-banner {
        height: calc(100vh - var(--header-height) - 30px);
        padding: 10px 20px 20px;
        position: relative;

        .swiper {
            height: 100%;
            border-radius: 12px;
            overflow: hidden;

            .banner-title {
                position: absolute;
                bottom: 25px;
                left: 25px;

                font-family: var(--bold);
                font-size: 5rem;
                text-transform: uppercase;
                max-width: 600px;
                color: white;
                font-weight: 600;
            }

            video {
                object-fit: cover;
                object-position: center center;
            }
        }


        button {
            border: none;
            outline: none;
            border: 1px solid var(--secondary);
            height: 50px;
            width: 50px;
            border-radius: 50%;
            padding: 0;
            margin: 0;
            margin: 0 6px;
            cursor: pointer;

            svg {
                height: 30px;
                width: 30px;
                color: gray;
            }
        }

        .navigation-btn-swiper {
            position: absolute;
            bottom: 45px;
            right: 25px;
            z-index: 10;
        }

        .mute-float-btn {
            position: absolute;
            top: 25px;
            right: 35px;
            z-index: 10;

            button {
                height: 30px;
                width: 30px;

                svg {
                    height: 20px;
                    width: 20px;
                }
            }
        }

        .floating-swiper-pagination {
            position: absolute;
            bottom: 25px;
            z-index: 10;
            width: calc(100% - 80px);
            display: grid;
            grid-template-columns: repeat(5, 200px);
            justify-content: space-between;
            padding: 25px 40px;

            &>div {
                color: white;
                text-transform: uppercase;
                opacity: .3;
                cursor: pointer;
                font-size: 1.2rem;

                &.active {
                    opacity: 1;
                }

                p,
                span {
                    font-family: var(--bold);
                }

                span {
                    font-size: 2rem;
                    font-weight: 600;
                    padding-bottom: 12px;
                }

                p {
                    font-size: 1.1rem;
                    letter-spacing: 1px;
                    word-spacing: 1px;
                    font-weight: 500;
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: -10px;
                left: 40px;
                width: calc(100% - 80px);
                border-top: 2px solid white;
                opacity: .3;
            }
        }
    }

    .new-drops {
        .home-new-products {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;

            .home-product-card {
                position: relative;

                .image {
                    height: 100%;

                    img {
                        border-radius: 12px;
                        overflow: hidden;
                    }
                }

                .text-content {
                    position: absolute;
                    bottom: 0;
                    color: white;
                    padding: 20px;
                    width: 100%;
                }

                .card-title {
                    font-family: var(--bold);
                    font-weight: 500;
                    font-size: 2rem;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    word-spacing: 1px;
                }

                .card-desc {
                    margin-bottom: 12px;
                }
            }
        }
    }

    .featured-section {
        .section-contents {
            display: grid;
            gap: 16px;


            .grid-1,
            .grid-2 {
                width: 100%;
                height: clamp(450px, 20vw, 50vh);
                display: flex;
                gap: 16px;

                .text-content,
                .image-section {
                    border-radius: 12px;
                    // border: 1px solid black;
                    overflow: hidden;

                    img {
                        object-fit: cover;
                    }
                }

                .image-section {
                    width: 75%;
                }

                .text-content {
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    padding: 25px;

                    p {
                        font-size: .8rem;
                        line-height: 1.3;
                        margin-bottom: 14px;
                        opacity: .8;
                        font-weight: 300;
                    }

                    .content-title {
                        font-size: 2rem;
                        font-weight: 500;
                        text-transform: uppercase;
                        font-family: var(--bold);
                        margin-bottom: 12px;
                    }
                }
            }

            .grid-1 {
                .text-content {
                    background: var(--black);
                    color: var(--primary);
                }
            }

            .grid-2 {
                .text-content {
                    background: var(--secondary);
                    color: var(--black);
                }
            }
        }
    }

    .our-story {
        display: grid;
        grid-template-columns: .8fr 1fr;
        gap: 55px;

        .text-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .section-title {
            font-size: 5rem;
            font-weight: 800;
            letter-spacing: 2px;
            margin-bottom: 25px;
        }

        p {
            font-size: .9rem;
            line-height: 1.5;
            opacity: .8;
            margin-bottom: 25px;
        }

        .video-content {
            border-radius: 12px;
            overflow: hidden;
            position: relative;

            video {
                height: 100%;
                object-fit: cover;
            }

            .mute-float-btn {
                position: absolute;
                top: 25px;
                right: 35px;
                aspect-ratio: 1/1;
                background: var(--primary);
                border-radius: 50%;
                color: gray;
                cursor: pointer;
                z-index: 10;
                height: 35px;
                width: 35px;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }

    .special-products {
        position: relative;

        .navigation-btn-swiper {
            position: absolute;
            top: 100px;
            right: 35px;
            width: fit-content;
            padding: 25px 0;
            // display: flex;
            // justify-content: flex-end;

            button {
                border: none;
                outline: none;
                border: 1px solid var(--secondary);
                height: 50px;
                width: 50px;
                border-radius: 50%;
                padding: 0;
                margin: 0;
                margin: 0 6px;
                cursor: pointer;

                svg {
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }
}