@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bold: "Big Shoulders", sans-serif;
    --normal: "Poppins", sans-serif;

    --header-height: 60px;

    --primary: #FFFFFF;
    --secondary: #F5F5F5;
    --black: #111111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--normal);

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none
}

html,
body {
    scroll-behavior: smooth;
}

img,
video {
    height: 100%;
    width: 100%;
}

svg {
    vertical-align: middle;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

main {
    height: 100%;

    &>div {
        padding-top: 80px;

        &:nth-of-type(1) {
            padding-top: 0;
        }
    }

}

.section-title {
    font-size: 3.5rem;
    font-family: var(--bold);
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
}

.section-desc {
    font-size: .9rem;
    max-width: 600px;
    opacity: .6;
    letter-spacing: .5px;
    margin-bottom: 25px;
}

a {
    text-decoration: none;
    color: inherit;
}

.productCard {
    .product-image {
        position: relative;
        transition: all .3s ease-in;
        height: 400px;
        margin-bottom: 12px;
        border-radius: 12px;
        overflow: hidden;

        img {
            object-fit: cover;
        }

        .second-img {
            position: absolute;
            right: 0;
            opacity: 0;
        }

        .wish-icon {
            background: var(--secondary);
            position: absolute;
            right: 10px;
            z-index: 10;
            padding: 12px;
            border-radius: 50%;

            svg {
                height: 20px;
                width: 20px;
            }

            &.wish-true svg {
                color: red;
                fill: red;
            }
        }
    }

    &:hover {
        .first-img {
            opacity: 0;
        }

        .second-img {
            opacity: 1;
        }
    }

    .product-info {
        padding: 0 12px;
    }

    .product-title {
        font-family: var(--bold);
        margin-bottom: 6px;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: .2px;
    }

    .product-price {
        .hide {
            text-decoration: line-through;
            opacity: .6;
        }

        span {
            margin: 0 8px;
        }
    }

    .product-price,
    .product-genre,
    .product-gender-type {
        font-size: .89rem;
        opacity: .6;
        line-height: 1.3;
    }

    .section-group {
        margin-top: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .add-to-cart {
            font-size: .75rem;
            opacity: .8;
            color: white;
        }
    }
}

.btn-primary {
    border: none;
    background-color: var(--black);
    width: fit-content;
    padding: 8px 18px;
    border-radius: 24px;
    text-transform: capitalize;
    font-size: .83rem;
    letter-spacing: .5px;
    font-weight: 400;
    cursor: pointer;
    color: white;
    outline: none;

    svg {
        height: 16px;
        margin-right: 8px;
    }
}

.button {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    background-color: var(--black);
    color: white;
    padding: 4px 5px 4px 18px;
    border-radius: 25px;
    cursor: pointer;
    font-size: .8rem;

    .button-icon {
        background-color: white;
        border-radius: 50%;
        padding: 4px;
        color: black;
        margin-left: 12px;
    }

    &.dark {
        background-color: var(--primary);
        color: black;

        .button-icon {
            background-color: var(--black);
            color: white;
        }
    }
}

form {
    .no-display {
        display: none;
    }

    .form-group {
        position: relative;
        margin: 25px 0;

        label {
            display: block;
            font-size: .8rem;
            transform: translateY(-50%);
            color: rgb(107 113 127);
        }

        input {
            width: 100%;
            font-size: .8rem;
            padding: 8px;

            outline: none;
            border: 1px solid rgb(196, 196, 196);
            background: var(--secondary);
            border-radius: 4px;

            &.error {
                border-color: crimson;
            }
        }

        .view-password {
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translateY(-50%);
            cursor: pointer;

            height: 16px;

            svg {
                height: 16px;
                vertical-align: top;
                opacity: .6;
            }
        }

        .error-msg {
            position: absolute;
            right: 0;
            bottom: -18px;

            font-size: .7rem;
            color: crimson;
        }
    }

    .form-divide {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        margin: 25px 0;

        .form-group {
            margin: 0;
        }
    }
}

.thankYou {
    .delivery-image {
        height: fit-content;
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        img {
            object-fit: contain;
        }

        .title {
            color: green;
            font-weight: 500;
            font-size: 2rem;
        }
    }

    .order-info {
        max-width: 1200px;
        width: 100%;
        margin: 25px auto;
        border: 1px solid rgb(206, 206, 206);
        padding: 25px 8%;
        border-radius: 8px;

        .orderId {
            margin-bottom: 25px;
        }
    }

    span {
        font-size: .8rem;
        font-weight: 600;
        opacity: .6;
    }

    .order-card {
        display: grid;
        grid-template-columns: 200px 1fr 100px;
        gap: 25px;
        align-items: center;
        padding: 15px 0;
        border-bottom: 1px solid rgb(209, 209, 209);

        img {
            height: 150px;
            width: 200px;
            object-fit: cover;
        }

        .delivery {
            color: green;
            font-size: .8rem;
        }
    }

    .order-details {
        display: grid;
        grid-template-columns: 1fr 1fr .5fr;

        margin-top: 55px;
        margin-bottom: 25px;

        .info {
            font-size: .9rem;
            text-transform: capitalize;

            .email {
                text-transform: lowercase;
            }

            .heading {
                font-weight: 700;
                margin-bottom: 15px;
            }
        }

        p {
            svg {
                height: 20px;
                margin-right: 6px;
            }
        }
    }
}

.shipment-indication {
    display: flex;
    justify-content: space-between;

    span {
        border: 1px solid gray;
        padding: 6px 12px;
        border-radius: 8px;
        position: relative;
        background: white;

        &::after {
            content: '';
            position: absolute;
            left: 100%;
            top: 50%;
            height: 1px;
            transform: translateY(-50%);
            width: 100%;
            background: black;
        }

        &:nth-of-type(4) {
            &::after {
                content: none;
            }
        }
    }

}