.allproducts {
    .section-title {
        font-size: 2.5rem;

        span {
            vertical-align: top;
            font-size: 1rem;
            opacity: .7;
        }
    }

    .filter-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 25;
        background: rgba(225, 225, 225, .5);
        backdrop-filter: blur(4px);
        --filter-width: 500px;
        display: none;

        .backdrop {
            position: absolute;
            cursor: pointer;
            height: 100vh;
            width: calc(100% - var(--filter-width));
        }

        .filter {
            position: absolute;
            right: 0;
            width: var(--filter-width);
            height: 100vh;
            background: white;
            padding: 12px 25px;

            svg {
                cursor: pointer;
            }

            .filter-top {
                height: fit-content;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .section-title {
                    margin: 0;
                    padding: 0;
                }
            }
        }

        &.open {
            display: block;
        }

        .color {
            display: flex;
            gap: 8px;

            .color-item {
                background-color: var(--option-color);
                height: 30px;
                width: 30px;
                border-radius: 50%;
                cursor: pointer;
                border: 1px solid gray;

                label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                input {
                    display: none;
                }
            }
        }

        .option-title {
            font-family: var(--bold);
            font-size: .9rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            word-spacing: 2px;
            margin-bottom: 6px;
        }
    }

    .options {
        position: sticky;
        top: var(--header-height);
        height: 60px;
        background: white;
        width: 100%;
        z-index: 15;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
        padding-right: 50px;

        .item {
            position: relative;
            font-size: .8rem;
            text-transform: capitalize;
            cursor: pointer;

            svg {
                height: 18px;
                opacity: .7;
            }

            span {
                opacity: .8;
            }

            .dropdown {
                border: 1px solid var(--secondary);
                position: absolute;
                top: calc(100% + 10px);
                right: 0;
                width: 130px;
                background: white;
                padding: 8px;
                border-radius: 8px;

                ul li {
                    list-style: none;
                    opacity: .6;

                    &.active-sort {
                        opacity: .9;
                    }
                }

                &.open {
                    display: block;
                }

                &.close {
                    display: none;
                }
            }
        }
    }

    margin-top: 50px;

    .product-group {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        align-items: center;
    }
}

.product-single {
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;

    .main-product {
        display: grid;
        grid-template-columns: 450px 1fr;
        gap: 100px;

        .image-section {
            border-radius: 12px;
            overflow: hidden;

            .mySwiper2 {
                height: 480px;
                margin-bottom: 12px;

                img {
                    object-fit: cover;
                }
            }

            .swiper-thumbs {
                height: 100px;

                img {
                    object-fit: cover;
                }
            }

            .swiper-button-prev,
            .swiper-button-next {
                background: var(--black);
                // color: black;
                border-radius: 50%;
                border: 1px solid white;
                opacity: .7;

                svg {
                    height: 22px;

                }

                &.swiper-button-disabled {
                    opacity: .3;
                }
            }
        }

        .product-info-section {
            .prod-name {
                font-size: 2rem;
                font-family: var(--bold);
                font-weight: 700;
            }

            .prod-info {
                font-size: .93rem;
                margin-bottom: 25px;
            }

            .prod-genre {
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 6px;
            }

            .prod-size {
                margin: 12px 0;
            }

            .prod-size-guide {
                display: flex;
                flex-wrap: wrap;
                gap: 12px;
                margin-bottom: 25px;

                input {
                    display: none;
                }

                label {
                    display: inline-block;
                    width: 70px;
                    border: 1px solid black;
                    text-align: center;
                    padding: 6px 0;
                    border-radius: 8px;
                    cursor: pointer;
                    font-size: .9rem;
                }
            }

            .radio-group {
                input[type="radio"]:checked+label {
                    background-color: var(--black);
                    color: white;
                }
            }

            .button-group {
                display: flex;
                gap: 16px;
                width: 80%;
                margin: 35px 0;

                .prod-btn {
                    width: 100%;
                    border: 1px solid black;
                    padding: 12px 0;
                    text-align: center;
                    border-radius: 25px;
                    cursor: pointer;

                    &.buy {
                        background: var(--black);
                        color: white;
                    }
                }
            }
        }
    }
}