@use './style/main.scss';
@use './style/header.scss';
@use './style/home.scss';
@use './style/footer.scss';
@use './style/auth.scss';
@use './style/products.scss';
@use './style/CartWish.scss';
@use './style/checkout.scss';